$font-lato: 'Lato', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$transition: .2s ease;

$border-round: 50%;

$color-bg: #272733;
$color-primary: #3E9CDC;
$color-secondary: #286690;
$color-accent: #42A9ED;
$header-bg: rgba(16, 16, 29, 0.9);

$text-dark: #000000;
$text-white: #ffffff;

$button-border-radius: 4px;

$form-dark: #272733;
$form-border-radius: 3px;

$footer-bg: #3D4050;