/* Imports
============================================*/
@import url(normalize.css);
@import url(fonts.css);
/* Global
============================================*/
html {
	font-size: 16px;
	line-height: 1.2;
}

body {
	font-family: "Lato", sans-serif;
	color: #000000;
	background-color: #272733;
}
body._scroll-lock {
	overflow: hidden;
}

.page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}

.main {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.h1,
.h2,
.h3 {
	margin: 0;
	font-weight: 700;
}

.container {
	max-width: 1230px;
	min-width: 288px;
	margin: 0 auto;
	padding: 0 30px;
}

.nav__link {
	text-decoration: none;
	color: #ffffff;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}
.nav__link_active {
	color: #42A9ED;
	pointer-events: none;
}
.nav__link:hover {
	color: #286690;
}

.link {
	text-decoration: none;
	color: #ffffff;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}
.link:hover {
	cursor: pointer;
	color: #286690;
}

.text_accent {
	color: #3E9CDC;
}

.list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.list__item {
	position: relative;
	padding-left: calc(1em + 1px);
}
.list__item + .list__item {
	margin-top: 0.3125rem;
}
.list__item::before {
	content: "";
	position: absolute;
	display: block;
	left: 0.5em;
	top: 0.5em;
	width: 0.25em;
	height: 0.075em;
	background-color: #000000;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.button {
	display: inline-block;
	font-family: "Lato", sans-serif;
	padding: 15px 32px;
	border-radius: 4px;
	font-size: 13px;
	line-height: 1;
	outline: none;
	border: none;
	text-decoration: none;
	-webkit-transition: color 0.3s, background 0.3s, -webkit-box-shadow 0.3s;
	transition: color 0.3s, background 0.3s, -webkit-box-shadow 0.3s;
	transition: color 0.3s, background 0.3s, box-shadow 0.3s;
	transition: color 0.3s, background 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
	overflow: hidden;
	white-space: nowrap;
}
.button_primary {
	color: #ffffff;
	background-color: #3E9CDC;
	-webkit-box-shadow: inset 0 0 0 1px #ffffff;
	        box-shadow: inset 0 0 0 1px #ffffff;
}
.button_primary:hover {
	-webkit-box-shadow: inset 0 0 0 1px #cccccc;
	        box-shadow: inset 0 0 0 1px #cccccc;
	background-color: #42A9ED;
	color: rgba(255, 255, 255, 0.85);
}
.button_primary:focus {
	-webkit-box-shadow: inset 0 0 0 1px #272733;
	        box-shadow: inset 0 0 0 1px #272733;
}
.button_primary:active {
	background-color: #286690;
}
.button_secondary {
	color: #2A2B30;
	background-color: #ffffff;
	-webkit-box-shadow: inset 0 0 0 1px #6F6D7B;
	        box-shadow: inset 0 0 0 1px #6F6D7B;
}
.button_secondary:hover, .button_secondary:focus {
	background-color: #d8d8d8;
	-webkit-box-shadow: inset 0 0 0 1px #6F6D7B;
	        box-shadow: inset 0 0 0 1px #6F6D7B;
}
.button_secondary:active {
	background-color: #ffffff;
}
.button:not(:disabled) {
	cursor: pointer;
}
.button:disabled {
	cursor: not-allowed;
	color: #000000;
	background-color: #bebebe;
	-webkit-box-shadow: inset 0 0 0 1px #6F6D7B;
	        box-shadow: inset 0 0 0 1px #6F6D7B;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(16, 16, 29, 0.9);
	z-index: 10;
}
.header__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 100px;
}
.header__logo {
	font-family: "Raleway", sans-serif;
	font-size: 1.75rem;
	line-height: 1.25;
	font-weight: 800;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
}
.header__logo span {
	color: #42A9ED;
}
.header__menu {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}
.header__burger {
	display: none;
}
.header__close-menu {
	display: none;
}

.section-hero {
	padding-top: 200px;
	padding-bottom: 200px;
	height: 100%;
	min-height: 850px;
	background-image: url("../images/first-bg.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.section-hero__title {
	max-width: 66.66%;
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
}
.section-hero__subtitle {
	font-weight: 700;
}
.section-hero__list {
	margin-top: 0.625rem;
}
.section-hero__info {
	margin-top: 5rem;
	max-width: 50%;
	font-size: 1.25rem;
}
.section-hero__cta {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 30px;
	margin-top: 5rem;
	max-width: 50%;
}

.section-order {
	position: relative;
	padding-top: 7.5rem;
	padding-bottom: 9.375rem;
	height: 100%;
	min-height: 920px;
	color: #ffffff;
}
.section-order::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("../images/map-bg.png");
	background-repeat: no-repeat;
	background-position: center -50px;
	background-size: auto;
	opacity: 0.1;
	z-index: -1;
}
.section-order__title {
	font-size: 2.25rem;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
}
.section-order__subtitle {
	margin-top: 1.875rem;
	font-size: 1.125rem;
	color: #bbbbbb;
	text-align: center;
}
.section-order__steps {
	margin-top: 5rem;
}
.section-order__form {
	margin-top: 5rem;
}

.steps {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1.875rem 1fr 1.875rem 1fr 1.875rem 1fr 1.875rem 1fr;
	grid-template-columns: repeat(5, 1fr);
	gap: 1.875rem;
}
.steps__item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
}
.steps__circle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100px;
	height: 100px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	background-color: #3E9CDC;
	border-radius: 50%;
	-webkit-box-shadow: inset 0 0 0 5px #286690;
	        box-shadow: inset 0 0 0 5px #286690;
}
.steps__icon {
	font-size: 55px;
}
.steps__capture {
	margin-top: 1.25rem;
}

.form__input {
	padding: 12px 10px;
	border: none;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.85);
	font-family: "Lato", sans-serif;
	font-size: 18px;
	line-height: 24px;
	-webkit-box-shadow: 0 0 0 1px #ffffff;
	        box-shadow: 0 0 0 1px #ffffff;
}
.form__input::-webkit-input-placeholder {
	color: #272733;
}
.form__input::-moz-placeholder {
	color: #272733;
}
.form__input:-ms-input-placeholder {
	color: #272733;
}
.form__input::-ms-input-placeholder {
	color: #272733;
}
.form__input::placeholder {
	color: #272733;
}
.form__file input {
	display: none;
	visibility: hidden;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
.form__file-label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	padding: 14px 32px;
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	background-color: #ffffff;
	-webkit-box-shadow: inset 0 0 0 2px #3E9CDC;
	        box-shadow: inset 0 0 0 2px #3E9CDC;
	color: #272733;
}
.form__file-label .icon-file {
	display: inline-block;
	margin-right: 10px;
	font-size: 20px;
	line-height: 1;
}
.form__file-label:hover {
	background-color: #cccccc;
}
.form__file-label:active {
	background-color: #ffffff;
}

.form-order {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1.875rem 1fr 1.875rem 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: -webkit-max-content;
	grid-auto-rows: max-content;
	gap: 1.875rem;
}
.form-order .slider {
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: 2/1/3/3;
}
.form-order__submit {
	display: block;
	width: calc((100% - 3.75rem) / 3);
	margin-top: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	line-height: 18px;
}

input[type=range].slider__input {
	width: 100%;
	margin: 9px 0;
	background-color: transparent;
	-webkit-appearance: none;
}
input[type=range].slider__input:focus {
	outline: none;
}
input[type=range].slider__input::-webkit-slider-runnable-track {
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #ffffff;
	border-radius: 6px;
	width: 100%;
	height: 6px;
	cursor: pointer;
}
input[type=range].slider__input::-webkit-slider-thumb {
	margin-top: -10px;
	width: 24px;
	height: 24px;
	background: #42a9ed;
	border: 3px solid #286690;
	border-radius: 13px;
	cursor: pointer;
	-webkit-appearance: none;
}
input[type=range].slider__input:focus::-webkit-slider-runnable-track {
	background: #808080;
}
input[type=range].slider__input::-moz-range-track {
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #ffffff;
	border-radius: 6px;
	width: 100%;
	height: 6px;
	cursor: pointer;
}
input[type=range].slider__input::-moz-range-thumb {
	width: 24px;
	height: 24px;
	background: #42a9ed;
	border: 3px solid #286690;
	border-radius: 13px;
	cursor: pointer;
}
input[type=range].slider__input::-ms-track {
	background: transparent;
	border-color: transparent;
	border-width: 9px 0;
	color: transparent;
	width: 100%;
	height: 6px;
	cursor: pointer;
}
input[type=range].slider__input::-ms-fill-lower {
	background: #000000;
	border: 1px solid #ffffff;
	border-radius: 12px;
}
input[type=range].slider__input::-ms-fill-upper {
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #ffffff;
	border-radius: 12px;
}
input[type=range].slider__input::-ms-thumb {
	width: 24px;
	height: 24px;
	background: #42a9ed;
	border: 3px solid #286690;
	border-radius: 13px;
	cursor: pointer;
	margin-top: 0px;
}
input[type=range].slider__input:focus::-ms-fill-lower {
	background: rgba(255, 255, 255, 0.7);
}
input[type=range].slider__input:focus::-ms-fill-upper {
	background: #808080;
}
@supports (-ms-ime-align: auto) {
	input[type=range].slider__input {
		margin: 0;
	}
}

.slider {
	font-size: 18px;
	line-height: 24px;
}
.slider__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	gap: 1rem;
	margin-bottom: 4px;
}
.slider__label {
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}

.custom-select__container {
	position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.custom-select__container * {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.custom-select__container.is-disabled {
	opacity: 0.333;
}
.custom-select__container select {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.custom-select__opener {
	position: relative;
	padding: 12px 32px 12px 10px;
	display: block;
	cursor: pointer;
	width: 100%;
	border: none;
	-webkit-box-shadow: 0 0 0 1px #ffffff;
	        box-shadow: 0 0 0 1px #ffffff;
	border-radius: 3px;
	color: #272733;
	background-color: rgba(255, 255, 255, 0.85);
	z-index: 2;
	font-size: 18px;
	line-height: 24px;
}
.custom-select__opener::before {
	content: "";
	right: 10px;
	top: 50%;
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 1;
	-webkit-mask-image: url(../icons/arrow.svg);
	        mask-image: url(../icons/arrow.svg);
	background-color: #272733;
	-webkit-transform: translateY(-50%) rotate(180deg);
	        transform: translateY(-50%) rotate(180deg);
	-webkit-transition: 0.35s ease-out;
	transition: 0.35s ease-out;
}
.custom-select__panel {
	max-height: 0;
	-webkit-transition: max-height 0.5s ease-out, overflow-y 0.1s 0.5s, opacity 0.3s;
	transition: max-height 0.5s ease-out, overflow-y 0.1s 0.5s, opacity 0.3s;
	overflow: hidden;
	background-color: rgba(40, 40, 52, 0.9);
	-webkit-box-shadow: 0 0 0 1px #3D4050;
	        box-shadow: 0 0 0 1px #3D4050;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	position: absolute;
	top: 100%;
	z-index: 1;
	width: 100%;
	opacity: 0;
	visibility: hidden;
}
.custom-select__panel::-webkit-scrollbar {
	width: 7px;
	background: #3d4050;
	border-radius: 3px;
}
.custom-select__panel::-webkit-scrollbar-thumb {
	background: #3e9cdc;
	border-radius: 3px;
}
.custom-select__container.is-open .custom-select__panel {
	max-height: 190px;
	overflow-y: auto;
	color: #ffffff;
	opacity: 1;
	visibility: visible;
}
.custom-select__container.is-open .custom-select__opener {
	background-color: rgba(61, 64, 80, 0.85);
	-webkit-box-shadow: 0 0 0 1px #3D4050;
	        box-shadow: 0 0 0 1px #3D4050;
	color: #ffffff;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.custom-select__container.is-open .custom-select__opener::before {
	background-color: #ffffff;
	-webkit-transform: translateY(-50%) rotate(0deg);
	        transform: translateY(-50%) rotate(0deg);
}
.custom-select__option {
	padding: 10px;
	font-size: 18px;
	line-height: 1;
	cursor: pointer;
}
.custom-select__option.has-focus {
	background-color: #286690;
}
.custom-select__option.is-selected {
	color: #42A9ED;
}

.footer {
	color: #ffffff;
	background-color: #3D4050;
	font-size: 13px;
}
.footer__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 30px 1rem;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	gap: 20px;
}
.footer__separator {
	font-size: 18px;
	line-height: 1;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}
.footer__separator::before {
	content: "";
	display: block;
	height: 1em;
	width: 1.5px;
	background-color: #ffffff;
}
.footer__links, .footer__payments {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-column-gap: 1rem;
	   -moz-column-gap: 1rem;
	        column-gap: 1rem;
	row-gap: 0.5rem;
}
.footer__payment {
	vertical-align: baseline;
	line-height: 20px;
}
.footer__link {
	line-height: 20px;
}
.footer__link-icon {
	margin-right: 10px;
	font-size: 20px;
	color: #3E9CDC;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
	vertical-align: sub;
}
.footer__link:hover .footer__link-icon {
	color: #286690;
}

.ya-money-icon {
	fill: #3E9CDC;
	line-height: 1;
}

@media screen and (min-width: 769px) {
	.header__menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-left: 20px;
		-webkit-column-gap: 60px;
		   -moz-column-gap: 60px;
		        column-gap: 60px;
		row-gap: 20px;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
	.steps {
		-ms-grid-columns: (1fr)[4];
		grid-template-columns: repeat(4, 1fr);
	}
	.steps__item:not(:nth-child(4n)):not(:last-child)::before {
		content: url(../icons/dotes.svg);
		position: absolute;
		top: 50px;
		left: calc(100% + 0.9375rem);
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		z-index: -1;
	}
}
@media screen and (min-width: 1025px) {
	.steps__item:not(:nth-child(5n)):not(:last-child)::before {
		content: url(../icons/dotes.svg);
		position: absolute;
		top: 50px;
		left: calc(100% + 0.9375rem);
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		z-index: -1;
	}
}
@media screen and (max-width: 1024px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.header__logo {
		font-size: 24px;
	}
	.header__menu {
		-webkit-column-gap: 40px;
		   -moz-column-gap: 40px;
		        column-gap: 40px;
	}
	.section-hero__title {
		font-size: 2rem;
	}
	.section-hero__info, .section-hero__cta {
		margin-top: 4rem;
		max-width: 70%;
		font-size: 1.125rem;
	}
	.section-order__title {
		font-size: 1.875rem;
	}
	.section-order__steps {
		margin-top: 4rem;
	}
	.section-order__form {
		margin-top: 4rem;
	}
	.form-order {
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.form-order .slider {
		grid-area: auto;
	}
	.form-order__submit {
		width: 100%;
		max-width: 400px;
	}
	.footer__inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.footer__separator {
		display: none;
		visibility: none;
	}
}
@media screen and (max-width: 768px) {
	.header__burger {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-negative: 0;
		    flex-shrink: 0;
		padding: 10px;
		width: 45px;
		height: 40px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		cursor: pointer;
	}
	.header__burger span {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
	.header__menu {
		position: fixed;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 30px 15px;
		margin: 0;
		width: 100%;
		height: 100%;
		top: 0;
		right: -100%;
		background-color: #10101D;
		z-index: 10;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-column-gap: 20px;
		   -moz-column-gap: 20px;
		        column-gap: 20px;
		row-gap: 25px;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		-webkit-transition: 0.3s ease 0s, opacity 0.3s ease 0s;
		transition: 0.3s ease 0s, opacity 0.3s ease 0s;
		overflow: auto;
		opacity: 0;
	}
	.header__menu .nav__link {
		font-size: 24px;
	}
	.header__menu::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
	}
	.header__menu_active {
		right: 0;
		opacity: 1;
	}
	.header__menu_active .header__close-menu {
		position: absolute;
		display: block;
		top: 32.5px;
		right: 20px;
		width: 35px;
		height: 35px;
		padding: 10px;
	}
	.header__menu_active .header__close-menu::before, .header__menu_active .header__close-menu::after {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		top: 50%;
		left: 0;
		background-color: #fff;
	}
	.header__menu_active .header__close-menu::before {
		-webkit-transform: translateY(-50%) rotate(45deg);
		        transform: translateY(-50%) rotate(45deg);
	}
	.header__menu_active .header__close-menu::after {
		-webkit-transform: translateY(-50%) rotate(-45deg);
		        transform: translateY(-50%) rotate(-45deg);
	}
	.section-hero {
		padding-top: 150px;
		padding-bottom: 100px;
		min-height: 735px;
	}
	.section-hero__title {
		margin: 0 auto;
		max-width: 100%;
		font-size: 1.875rem;
		text-align: center;
	}
	.section-hero__info, .section-hero__cta {
		margin-top: 4rem;
		margin-left: auto;
		margin-right: auto;
		max-width: -webkit-max-content;
		max-width: -moz-max-content;
		max-width: max-content;
		font-size: 1.125rem;
	}
	.section-order {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.section-order__title {
		font-size: 1.5rem;
	}
	.steps {
		-ms-grid-columns: (1fr)[3];
		grid-template-columns: repeat(3, 1fr);
	}
	.steps__item:not(:nth-child(3n)):not(:last-child)::before {
		content: url(../icons/dotes.svg);
		position: absolute;
		top: 50px;
		left: calc(100% + 0.9375rem);
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		z-index: -1;
	}
}
@media screen and (max-width: 610px) {
	.section-hero {
		background-position: 0 top;
	}
	.steps {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.steps__item::before {
		display: none;
		visibility: none;
	}
}
@media screen and (max-width: 425px) {
	.container {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.header__inner {
		height: 80px;
	}
	.header__logo {
		font-size: 1.25rem;
	}
	.section-hero {
		padding-top: 125px;
	}
	.section-hero__title {
		font-size: 1.5rem;
	}
	.section-hero__info, .section-hero__cta {
		margin-top: 3rem;
	}
	.section-hero__cta {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 1.25rem;
		max-width: 100%;
	}
	.section-hero__cta .button {
		width: 100%;
		text-align: center;
	}
	.section-order {
		padding-top: 60px;
	}
	.section-order__title {
		font-size: 1.25rem;
	}
	.section-order__steps, .section-order__form {
		margin-top: 2.5rem;
	}
	.footer__separator {
		display: block;
		visibility: visible;
		width: 100%;
	}
	.footer__separator::before {
		height: 1px;
		width: 100%;
		-webkit-box-shadow: 0 0 1px #fff;
		        box-shadow: 0 0 1px #fff;
	}
}